.header-container,
.article_rhs,
.footer_wrapper,
.cmtwrapper,
.articletrendinglistwrapper,
.nextASwidget,
.visualstoriesas_wrapper,
.marginBtm,
footer,
.rhs-box,
.topBand_adwrapper,
header,
.top-area {
    display: none !important;
}

.cCU6C {
    justify-content: center !important;
}

.LL2WU {
    justify-content: center !important;
}

.XAt75,
.C4nji,
.undefined.xciRh,
.fIQYZ.QJDs2,
.cH6aq,
.eg6hg,
.oheXf,
.xAhTn,
.Fsvto,
.PpBdi,
.Rzkkw.XhDhk,
.aUpG0,
.hokhq.Ox45p.undefined,
.VRdRi,
.lE59u,
.np8ju.photosslider,
.OCnXU.BWHLq {
    display: none !important;
}

/* .mPws3.d_jsH,
.header-container,
.article_rhs,
.fIQYZ.QJDs2,
.rbqRL.Pgnvl,
.undefined.xciRh,
.vzQvV.nextASwidget,
.footer_wrapper,
.cmtwrapper,
.XAt75,
.OWwCd,
.EIMcv,
.articletrendinglistwrapper {
    display: none !important;
} */